.title-container {
    background: rgb(71, 209, 94);
    padding: 26px 16px 16px;
    align-items: center;
    /* display: flex; 默认布局效果是一个挨着一个堆叠 */
    flex-direction: column;
  }

  .title-container  h1 {
    text-align: center;
    color: aliceblue;
  }

  .site-button-ghost-wrapper {
    background: rgb(190, 200, 200);
    height: 750px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .site-button-ghost-item {
    background: rgb(211, 115, 160);
    flex: 1 200px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    /* justify-content: space-between; */
    /* justify-content: flex-end; */
  }
  .site-button-ghost-item:nth-of-type(2) {
    background: black;
    flex: 2 200px;
  }